.container{
    .button {
        display: flex;
        justify-content: flex-end;
        margin: 0 0 1em 0;
    }
    .fileContainer{
        background-color: #F9F9F9;
        border-radius: 10px;
        padding: 1em;
        
    }
}
