.container {
    .header{
        background-color: aquamarine;
        position: relative;
        display: flex;
        min-height: 4em;
        .brand{
            position: absolute;
            right: 45%;
        }
    }
}