.container{
    .date{
        min-width: 10em;
        width: fit-content;
        margin: 0 0 1em 0;
    }
    .appointmentList{
        width: 80%;
        border: 1px solid #f7f7f7;
        border-radius: 10px;
        padding-bottom: 5em;
        min-width: 59em;
        background: #d6ffea;
        max-height: 75vh;
        margin-bottom: 1em;
        overflow: auto;
        .appointmentContainer{
            display: flex;
            padding: 6em 0;
            position: relative;
            .timeSlot{
                padding: 0 1em 1em 1em ;
                width: 7em;
                text-align: center;
            }
            .content{
                position: absolute;
                bottom: 0;
                left: 8em;
                background-color: rgb(255, 255, 233);
                box-shadow: 1px 5px 6px silver;
                min-width: 38em;
                padding: 2em 2em 2em 4em;
                margin: -3em 0;
                border-radius: 12px;
                transition: transform 0.1s ease;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                }
                div{
                    margin-top: .5em;
                }
            }
        }
        
    }
    
}